<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.minesoft.demo.mapper.VodInfoUrlsMapper">
  <resultMap id="BaseResultMap" type="tech.minesoft.demo.models.VodInfoUrls">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="info_id" jdbcType="INTEGER" property="infoId" />
    <result column="player_code" jdbcType="VARCHAR" property="playerCode" />
    <result column="player_name" jdbcType="VARCHAR" property="playerName" />
    <result column="vod_remarks" jdbcType="VARCHAR" property="vodRemarks" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="tech.minesoft.demo.models.VodInfoUrls">
    <result column="vod_urls" jdbcType="LONGVARCHAR" property="vodUrls" />
  </resultMap>
  <sql id="Base_Column_List">
    id, info_id, player_code, player_name, vod_remarks, status, create_time
  </sql>
  <sql id="Blob_Column_List">
    vod_urls
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from vod_info_urls
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from vod_info_urls
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="tech.minesoft.demo.models.VodInfoUrls">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into vod_info_urls (info_id, player_code, player_name, 
      vod_remarks, status, create_time, 
      vod_urls)
    values (#{infoId,jdbcType=INTEGER}, #{playerCode,jdbcType=VARCHAR}, #{playerName,jdbcType=VARCHAR}, 
      #{vodRemarks,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{vodUrls,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="tech.minesoft.demo.models.VodInfoUrls">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into vod_info_urls
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="infoId != null">
        info_id,
      </if>
      <if test="playerCode != null">
        player_code,
      </if>
      <if test="playerName != null">
        player_name,
      </if>
      <if test="vodRemarks != null">
        vod_remarks,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="vodUrls != null">
        vod_urls,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="infoId != null">
        #{infoId,jdbcType=INTEGER},
      </if>
      <if test="playerCode != null">
        #{playerCode,jdbcType=VARCHAR},
      </if>
      <if test="playerName != null">
        #{playerName,jdbcType=VARCHAR},
      </if>
      <if test="vodRemarks != null">
        #{vodRemarks,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="vodUrls != null">
        #{vodUrls,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="tech.minesoft.demo.models.VodInfoUrls">
    update vod_info_urls
    <set>
      <if test="infoId != null">
        info_id = #{infoId,jdbcType=INTEGER},
      </if>
      <if test="playerCode != null">
        player_code = #{playerCode,jdbcType=VARCHAR},
      </if>
      <if test="playerName != null">
        player_name = #{playerName,jdbcType=VARCHAR},
      </if>
      <if test="vodRemarks != null">
        vod_remarks = #{vodRemarks,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="vodUrls != null">
        vod_urls = #{vodUrls,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="tech.minesoft.demo.models.VodInfoUrls">
    update vod_info_urls
    set info_id = #{infoId,jdbcType=INTEGER},
      player_code = #{playerCode,jdbcType=VARCHAR},
      player_name = #{playerName,jdbcType=VARCHAR},
      vod_remarks = #{vodRemarks,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      vod_urls = #{vodUrls,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="tech.minesoft.demo.models.VodInfoUrls">
    update vod_info_urls
    set info_id = #{infoId,jdbcType=INTEGER},
      player_code = #{playerCode,jdbcType=VARCHAR},
      player_name = #{playerName,jdbcType=VARCHAR},
      vod_remarks = #{vodRemarks,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <insert id="insertList">
    insert into vod_info_urls (info_id, player_code, player_name,
    vod_remarks, status, create_time,
    vod_urls)
    values
    <foreach collection="urls" item="item" open="(" close="" separator=",">
      (
         #{infoId,jdbcType=INTEGER},
         #{item.playerCode,jdbcType=VARCHAR},
         #{item.playerName,jdbcType=VARCHAR},
         #{item.vodRemarks,jdbcType=VARCHAR},
         #{item.status,jdbcType=INTEGER},
         now(),
         #{item.vodUrls,jdbcType=LONGVARCHAR}
       )
    </foreach>
  </insert>
</mapper>