<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sixlab.mine.site.data.mapper.VodPlayerMapper">
  <resultMap id="BaseResultMap" type="cn.sixlab.mine.site.data.models.VodPlayer">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="site_code" jdbcType="VARCHAR" property="siteCode" />
    <result column="player_code" jdbcType="VARCHAR" property="playerCode" />
    <result column="player_name" jdbcType="VARCHAR" property="playerName" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, site_code, player_code, player_name, status, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from vod_player
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from vod_player
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.sixlab.mine.site.data.models.VodPlayer">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into vod_player (site_code, player_code, player_name, 
      status, create_time)
    values (#{siteCode,jdbcType=VARCHAR}, #{playerCode,jdbcType=VARCHAR}, #{playerName,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.sixlab.mine.site.data.models.VodPlayer">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into vod_player
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="siteCode != null">
        site_code,
      </if>
      <if test="playerCode != null">
        player_code,
      </if>
      <if test="playerName != null">
        player_name,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="siteCode != null">
        #{siteCode,jdbcType=VARCHAR},
      </if>
      <if test="playerCode != null">
        #{playerCode,jdbcType=VARCHAR},
      </if>
      <if test="playerName != null">
        #{playerName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.sixlab.mine.site.data.models.VodPlayer">
    update vod_player
    <set>
      <if test="siteCode != null">
        site_code = #{siteCode,jdbcType=VARCHAR},
      </if>
      <if test="playerCode != null">
        player_code = #{playerCode,jdbcType=VARCHAR},
      </if>
      <if test="playerName != null">
        player_name = #{playerName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.sixlab.mine.site.data.models.VodPlayer">
    update vod_player
    set site_code = #{siteCode,jdbcType=VARCHAR},
      player_code = #{playerCode,jdbcType=VARCHAR},
      player_name = #{playerName,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>