<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sixlab.mine.site.data.mapper.VodSiteMapper">
  <resultMap id="BaseResultMap" type="cn.sixlab.mine.site.data.models.VodSite">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="site_name" jdbcType="VARCHAR" property="siteName" />
    <result column="site_code" jdbcType="VARCHAR" property="siteCode" />
    <result column="site_type" jdbcType="VARCHAR" property="siteType" />
    <result column="site_url" jdbcType="VARCHAR" property="siteUrl" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="page" jdbcType="INTEGER" property="page" />
    <result column="begin_time" jdbcType="TIMESTAMP" property="beginTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="cn.sixlab.mine.site.data.models.VodSite">
    <result column="group_relate" jdbcType="LONGVARCHAR" property="groupRelate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, site_name, site_code, site_type, site_url, status, page, begin_time, end_time, 
    create_time
  </sql>
  <sql id="Blob_Column_List">
    group_relate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from vod_site
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from vod_site
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.sixlab.mine.site.data.models.VodSite">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into vod_site (site_name, site_code, site_type, 
      site_url, status, page, 
      begin_time, end_time, create_time, 
      group_relate)
    values (#{siteName,jdbcType=VARCHAR}, #{siteCode,jdbcType=VARCHAR}, #{siteType,jdbcType=VARCHAR}, 
      #{siteUrl,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{page,jdbcType=INTEGER}, 
      #{beginTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, 
      #{groupRelate,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.sixlab.mine.site.data.models.VodSite">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into vod_site
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="siteName != null">
        site_name,
      </if>
      <if test="siteCode != null">
        site_code,
      </if>
      <if test="siteType != null">
        site_type,
      </if>
      <if test="siteUrl != null">
        site_url,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="page != null">
        page,
      </if>
      <if test="beginTime != null">
        begin_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="groupRelate != null">
        group_relate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="siteName != null">
        #{siteName,jdbcType=VARCHAR},
      </if>
      <if test="siteCode != null">
        #{siteCode,jdbcType=VARCHAR},
      </if>
      <if test="siteType != null">
        #{siteType,jdbcType=VARCHAR},
      </if>
      <if test="siteUrl != null">
        #{siteUrl,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="page != null">
        #{page,jdbcType=INTEGER},
      </if>
      <if test="beginTime != null">
        #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="groupRelate != null">
        #{groupRelate,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.sixlab.mine.site.data.models.VodSite">
    update vod_site
    <set>
      <if test="siteName != null">
        site_name = #{siteName,jdbcType=VARCHAR},
      </if>
      <if test="siteCode != null">
        site_code = #{siteCode,jdbcType=VARCHAR},
      </if>
      <if test="siteType != null">
        site_type = #{siteType,jdbcType=VARCHAR},
      </if>
      <if test="siteUrl != null">
        site_url = #{siteUrl,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="page != null">
        page = #{page,jdbcType=INTEGER},
      </if>
      <if test="beginTime != null">
        begin_time = #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="groupRelate != null">
        group_relate = #{groupRelate,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.sixlab.mine.site.data.models.VodSite">
    update vod_site
    set site_name = #{siteName,jdbcType=VARCHAR},
      site_code = #{siteCode,jdbcType=VARCHAR},
      site_type = #{siteType,jdbcType=VARCHAR},
      site_url = #{siteUrl,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      page = #{page,jdbcType=INTEGER},
      begin_time = #{beginTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      group_relate = #{groupRelate,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.sixlab.mine.site.data.models.VodSite">
    update vod_site
    set site_name = #{siteName,jdbcType=VARCHAR},
      site_code = #{siteCode,jdbcType=VARCHAR},
      site_type = #{siteType,jdbcType=VARCHAR},
      site_url = #{siteUrl,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      page = #{page,jdbcType=INTEGER},
      begin_time = #{beginTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>