<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.minesoft.mine.site.core.mapper.MsMetaMapper">
  <resultMap id="BaseResultMap" type="tech.minesoft.mine.site.core.models.MsMeta">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="fk_id" jdbcType="INTEGER" property="fkId" />
    <result column="meta_group" jdbcType="VARCHAR" property="metaGroup" />
    <result column="meta_key" jdbcType="VARCHAR" property="metaKey" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="tech.minesoft.mine.site.core.models.MsMeta">
    <result column="meta_val" jdbcType="LONGVARCHAR" property="metaVal" />
  </resultMap>
  <sql id="Base_Column_List">
    id, fk_id, meta_group, meta_key, remark, create_time
  </sql>
  <sql id="Blob_Column_List">
    meta_val
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ms_meta
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ms_meta
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="tech.minesoft.mine.site.core.models.MsMeta">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ms_meta (fk_id, meta_group, meta_key, 
      remark, create_time, meta_val
      )
    values (#{fkId,jdbcType=INTEGER}, #{metaGroup,jdbcType=VARCHAR}, #{metaKey,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{metaVal,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="tech.minesoft.mine.site.core.models.MsMeta">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ms_meta
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fkId != null">
        fk_id,
      </if>
      <if test="metaGroup != null">
        meta_group,
      </if>
      <if test="metaKey != null">
        meta_key,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="metaVal != null">
        meta_val,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fkId != null">
        #{fkId,jdbcType=INTEGER},
      </if>
      <if test="metaGroup != null">
        #{metaGroup,jdbcType=VARCHAR},
      </if>
      <if test="metaKey != null">
        #{metaKey,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="metaVal != null">
        #{metaVal,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="tech.minesoft.mine.site.core.models.MsMeta">
    update ms_meta
    <set>
      <if test="fkId != null">
        fk_id = #{fkId,jdbcType=INTEGER},
      </if>
      <if test="metaGroup != null">
        meta_group = #{metaGroup,jdbcType=VARCHAR},
      </if>
      <if test="metaKey != null">
        meta_key = #{metaKey,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="metaVal != null">
        meta_val = #{metaVal,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="tech.minesoft.mine.site.core.models.MsMeta">
    update ms_meta
    set fk_id = #{fkId,jdbcType=INTEGER},
      meta_group = #{metaGroup,jdbcType=VARCHAR},
      meta_key = #{metaKey,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      meta_val = #{metaVal,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="tech.minesoft.mine.site.core.models.MsMeta">
    update ms_meta
    set fk_id = #{fkId,jdbcType=INTEGER},
      meta_group = #{metaGroup,jdbcType=VARCHAR},
      meta_key = #{metaKey,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

<!--  -->

  <insert id="checkTable">
    create table if not exists ms_meta
    (
      id int auto_increment primary key,
      fk_id int null,
      meta_group varchar(200) null,
      meta_key varchar(200) null,
      meta_val longtext null,
      remark varchar(1000) null,
      create_time datetime(6) null
    )
  </insert>

  <insert id="runSql">
    ${sql}
  </insert>

  <select id="selectOne" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ms_meta
    where
    <trim prefixOverrides="and">
      <if test="metaGroup != null">
        and meta_group = #{metaGroup,jdbcType=VARCHAR}
      </if>
      <if test="metaKey != null">
        and meta_key = #{metaKey,jdbcType=VARCHAR}
      </if>
    </trim>
  </select>
</mapper>